student{
display:block;

margin-top:50px;

padding:20px;
}
main{
background-color: teal;
margin-left:390px;
width:320px
}
college{
display:block;
color:black;
}
students{
margin-left:20px;
color:#05D8D8;
}
usn{
display:block;
color:black;
}
email{
color:black;
}
name{
display:block;
color:black;
}
year{
display:block;
color:black;
}
branch{
display:block;
color:black;
}

